body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

#chatbox {
    background: white;
    height: 400px;
    width: 600px;
    overflow-y: auto;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.msg-user {
    text-align: right;
    color: blue;
    margin: 5px;
}

.msg-bot {
    text-align: left;
    color: green;
    margin: 5px;
}
